@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Lobster');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.4;
	color: #fff;
	background-color: #1f2029;
	overflow-x: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 300px;
}
.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #020b2a;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
a:hover {
  color: #4b9e97;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #ffeba7;
  background-color: #102770;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #ffeba7;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
.logo {
	position: fixed;
	top: 50px;
	left: 40px;
	display: block;
	z-index: 11000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
	transition: all 250ms linear;
}
.logo:hover {
  background-color: transparent;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  transition: all 200ms linear;
}
.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

@media screen and (max-width: 991px) {
.logo {
	top: 30px;
	left: 20px;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}
}
.logo{
	color: rgb(218, 204, 20);
	font-size: 30px;
	text-shadow: rgb(151, 126, 26) 1px 0 10px;
}
.container{
	position: relative;
  }
  .container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
    }
    
    .container .card .contentBx .size span:hover{
    background: #9bdc28;
    }
    
    .container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    }
    
    .container .card .contentBx .color span:nth-child(2){
    background: #9bdc28;
    }
    
    .container .card .contentBx .color span:nth-child(3){
    background: #03a9f4;
    }
    
    .container .card .contentBx .color span:nth-child(4){
    background: #e91e63;
    }
    
    .container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
    }
    
    .container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
    
    }
    .contentBx p{
    color: #8aaa0a;
    font-size: 20px;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
     form{
    color: #00f1f9;
    text-shadow: rgb(76, 75, 92) 1px 0 3px;
    }
    #card{
    background:#fff;
    width:300px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:20px;
    transition:0.3s
    }
    
    #card:hover {
    transition:0.3s;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2),-8px -8px 16px 0 rgba(0,0,0,0.2);
    }
    #card img{
    object-fit:cover;
    animation: fadeIn 1s;
    height: 100%;
    width:100%;
    border-radius:20px 20px 0px 0px;
    transition:0.3s;
    }
    
    #content{
    padding:2vh 1vw 2vh 2vw; 
    font-size:1.3rem;
    font-family:Arial;
    color:#345e82;
    }
    
    
    #content ol{
    padding:2vh 1vw 3vh 3vw;
    font-size:1rem;
    color:black;
    font-weight:700;
    /*   transition:0.3s; */
    }
    #content ol li{
    display:block;
    transition:0.3s;
    list-style-type:123;
    width:auto;
    }
    
    #content ol li:hover{
    display:block;
    transition:0.3s;
    color:#345e82;
    padding-left:2vh;
    cursor:pointer;
    }
    .frame {
      bottom: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 400px;
      margin-top: -200px;
      margin-left: -200px;
      border-radius: 2px;
      box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
      background: transparent;
      color: #786450;
      font-family: 'Josefin slab', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .center {
      height: 299px;
      width: 320px;
      background: #fff;
      border-radius: 6px;
      box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.5);
      overflow: hidden;
    }
    
    .profile {
      float: left;
      width: 200px;
      height: 320px;
      text-align: center;
    }
    .profile .image {
      position: relative;
      width: 80px;
      height: 70px;
      margin: 38px auto 0 auto;
    }
    .profile .image .circle-1, .profile .image .circle-2 {
      position: absolute;
      box-sizing: border-box;
      width: 76px;
      height: 76px;
      top: -3px;
      left: -3px;
      border-width: 1px;
      border-style: solid;
      border-color: #643a7a #643a7a #643a7a transparent;
      border-radius: 50%;
      transition: all 1.5s ease-in-out;
    }
    .circle-1 {
      animation: circle-1 2s;
    }
    @keyframes circle-1 {
      100% {
        transform: rotate(-360deg);
      }
    }
    .profile .image .circle-2 {
      width: 82px;
      height: 82px;
      top: -6px;
      left: -6px;
      border-color: #786450 transparent #786450 #786450;
      animation: circle 2s;
    }
    @keyframes circle {
      100% {
        transform: rotate(360deg);
      }
    }
    .profile .image img {
      display: block;
      border-radius: 50%;
      background: #F5E8DF;
    }
    .profile .image:hover {
      cursor: pointer;
    }
    .profile .image:hover .circle-1, .profile .image:hover .circle-2 {
              transform: rotate(360deg);
    }
    .profile .image:hover .circle-2 {
              transform: rotate(-360deg);
    }
    .profile .name {
      font-size: 2rem;
      margin-top: 20px;
    }
    .profile .job {
      font-size: 1.2rem;
      line-height: 15px;
    }
    svg { 
      margin: 0 auto; 
      overflow: hidden;
    }
    
    #wave {
      stroke-dasharray: 0 16 101 16;
      animation: moveTheWave 2400ms linear infinite;  
    }
    
    @keyframes moveTheWave {
      0% { 
        stroke-dashoffset: 0; 
        transform: translate3d(0, 0, 0);
      }
      100% { 
        stroke-dashoffset: -133;
        transform: translate3d(-90px, 0, 0);
      }
    }
    .profile .actions .btn {
      display: block;
      width: 80px;
      height: 30px;
      margin: 0 auto 10px auto;
      background: none;
      border: 2px solid transparent;
      font-size: 1.1rem;
      box-sizing: border-box;
      color: #810202;
    }
    .btn, .parameter {
      font-family: 'Josefin sans';
    }
    .profile .actions .btn:hover {
      cursor: pointer;
    }
    
    .hvr-underline-from-center {
      display: inline-block;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
    }
    .hvr-underline-from-center:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: #a66923;
      height: 1px;
      transition-property: left, right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
      left: 0;
      right: 0;
    }
    .stats .box {
      box-sizing: border-box;
      width: 120px;
      height: 99px;
      background: #F5E8DF;
      text-align: center;
      padding-top: 28px;
      transition: all .4s ease-in-out;
      color: #a42c2c;
    }
    .box1 {
      animation: bg .5s ease-in-out;
    }
    .box2 {
      animation: bg .8s ease-in-out;
    }
    .box3 {
      animation: bg 1.1s ease-in-out;
    }
    @keyframes bg {
      0% {
      transform: translate(8rem);
      }
      100% {
        transform: translate(0);
      }
    }
    .stats .box:hover {
      cursor: pointer;
      color: #fff;
    }
    .hvr-underline-from-right {
      display: inline-block;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
    }
    .hvr-underline-from-right:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 100%;
      right: 0;
      bottom: 0;
      background: #ad3535;
      height: 99px;
      transition-property: left;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    .hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
      left: 0;
    }
    .stats .box:nth-child(2) {
      margin: 1px 0;
    }
    .stats span {
      display: block;
    }
    .stats .value {
      font-size: 1.8rem;
      font-family: lobster;
    }
    .stats .parameter {
      font-size: 1rem;
      line-height: 1.2;
    }
  
  .container .card:hover .imgBx{
	top: 0%;
	transform: translateY(0%);
	  
  }
  
  .container .card .imgBx img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-25deg);
	width: 270px;
  }
  
  .container .card .contentBx{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
  }
  
  .container .card:hover .contentBx{
	height: 210px;
  }
  
  .container .card .contentBx h2{
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
	margin: 0;
  }
  
  .container .card .contentBx .size, .container .card .contentBx .color {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;opacity: 0;
	visibility: hidden;
	padding-top: 0;
	padding-bottom: 0;
  }
  
  .container .card:hover .contentBx .size{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
  }
  .container .card:hover .contentBx .color{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.6s;
  }
  
  .container .card .contentBx .size h3, .container .card .contentBx .color h3{
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
  }
  
  .container .card .contentBx .size span{
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	display: inline-block;
	color: #111;
	background: #fff;
	margin: 0 5px;
	transition: 0.5s;
	color: #111;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .container .card .contentBx .size span:hover{
	background: #9bdc28;
  }
  
  .container .card .contentBx .color span{
	width: 20px;
	height: 20px;
	background: #ff0;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
  }
  
  .container .card .contentBx .color span:nth-child(2){
	background: #9bdc28;
  }
  
  .container .card .contentBx .color span:nth-child(3){
	background: #03a9f4;
  }
  
  .container .card .contentBx .color span:nth-child(4){
	background: #e91e63;
  }
  
  .container .card .contentBx a{
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	margin-top: 10px;
	text-decoration: none;
	font-weight: 600;
	color: #111;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.5s;
	margin-top: 0;
  }
  
  .container .card:hover .contentBx a{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.75s;
	
  }
  .contentBx p{
	color: #8aaa0a;
	font-size: 20px;
	text-shadow: rgb(255, 255, 255) 1px 0 10px;
  }
   form{
	color: #00f1f9;
	text-shadow: rgb(76, 75, 92) 1px 0 3px;
  }
  #card{
	background:#fff;
	width:300px;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
	border-radius:20px;
	transition:0.3s
  }
  
  #card:hover {
	transition:0.3s;
	box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2),-8px -8px 16px 0 rgba(0,0,0,0.2);
  }
  #card img{
	object-fit:cover;
	animation: fadeIn 1s;
	height: 100%;
	width:100%;
	border-radius:20px 20px 0px 0px;
	transition:0.3s;
  }
  
  #content{
	padding:2vh 1vw 2vh 2vw; 
	font-size:1.3rem;
	font-family:Arial;
	color:#345e82;
  }
  
  
  #content ol{
	padding:2vh 1vw 3vh 3vw;
	font-size:1rem;
	color:black;
	font-weight:700;
  /*   transition:0.3s; */
  }
  #content ol li{
	display:block;
	transition:0.3s;
	list-style-type:123;
	width:auto;
  }
  
  #content ol li:hover{
	display:block;
	transition:0.3s;
	color:#345e82;
	padding-left:2vh;
	cursor:pointer;
  }
  .frame {
    bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
    background: transparent;
    color: #786450;
    font-family: 'Josefin slab', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center {
    height: 299px;
    width: 320px;
    background: #fff;
    border-radius: 6px;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .profile {
    float: left;
    width: 200px;
    height: 320px;
    text-align: center;
  }
  .profile .image {
    position: relative;
    width: 80px;
    height: 70px;
    margin: 38px auto 0 auto;
  }
  .profile .image .circle-1, .profile .image .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #643a7a #643a7a #643a7a transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
  }
  .circle-1 {
    animation: circle-1 2s;
  }
  @keyframes circle-1 {
    100% {
      transform: rotate(-360deg);
    }
  }
  .profile .image .circle-2 {
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: #786450 transparent #786450 #786450;
    animation: circle 2s;
  }
  @keyframes circle {
    100% {
      transform: rotate(360deg);
    }
  }
  .profile .image img {
    display: block;
    border-radius: 50%;
    background: #F5E8DF;
  }
  .profile .image:hover {
    cursor: pointer;
  }
  .profile .image:hover .circle-1, .profile .image:hover .circle-2 {
            transform: rotate(360deg);
  }
  .profile .image:hover .circle-2 {
            transform: rotate(-360deg);
  }
  .profile .name {
    font-size: 2rem;
    margin-top: 20px;
  }
  .profile .job {
    font-size: 1.2rem;
    line-height: 15px;
  }
  svg { 
    margin: 0 auto; 
    overflow: hidden;
  }
  
  #wave {
    stroke-dasharray: 0 16 101 16;
    animation: moveTheWave 2400ms linear infinite;  
  }
  
  @keyframes moveTheWave {
    0% { 
      stroke-dashoffset: 0; 
      transform: translate3d(0, 0, 0);
    }
    100% { 
      stroke-dashoffset: -133;
      transform: translate3d(-90px, 0, 0);
    }
  }
  .profile .actions .btn {
    display: block;
    width: 80px;
    height: 30px;
    margin: 0 auto 10px auto;
    background: none;
    border: 2px solid transparent;
    font-size: 1.1rem;
    box-sizing: border-box;
    color: #810202;
  }
  .btn, .parameter {
    font-family: 'Josefin sans';
  }
  .profile .actions .btn:hover {
    cursor: pointer;
  }
  
  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #a66923;
    height: 1px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }
  .stats .box {
    box-sizing: border-box;
    width: 120px;
    height: 99px;
    background: #F5E8DF;
    text-align: center;
    padding-top: 28px;
    transition: all .4s ease-in-out;
    color: #a42c2c;
  }
  .box1 {
    animation: bg .5s ease-in-out;
  }
  .box2 {
    animation: bg .8s ease-in-out;
  }
  .box3 {
    animation: bg 1.1s ease-in-out;
  }
  @keyframes bg {
    0% {
    transform: translate(8rem);
    }
    100% {
      transform: translate(0);
    }
  }
  .stats .box:hover {
    cursor: pointer;
    color: #fff;
  }
  .hvr-underline-from-right {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #ad3535;
    height: 99px;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
    left: 0;
  }
  .stats .box:nth-child(2) {
    margin: 1px 0;
  }
  .stats span {
    display: block;
  }
  .stats .value {
    font-size: 1.8rem;
    font-family: lobster;
  }
  .stats .parameter {
    font-size: 1rem;
    line-height: 1.2;
  }
  .container{
    position: relative;
  }
  
  .container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #576dd1;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .container .card:after{
    content: '</>';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(4, 121, 134, 0.34)
  }
  
  .container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
      
  }
  
  .container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
  }
  
  .container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container .card:hover .contentBx{
    height: 210px;
  }
  
  .container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container .card .contentBx .size, .container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container .card .contentBx .size h3, .container .card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container .card .contentBx .size span:hover{
    background: #9bdc28;
  }
  
  .container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container .card .contentBx .color span:nth-child(2){
    background: #9bdc28;
  }
  
  .container .card .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .container .card .contentBx .color span:nth-child(4){
    background: #e91e63;
  }
  
  .container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
    
  }
  


